.about-page {
    max-width: 600px;
    margin: 3rem auto;
    padding: 2rem;
    color: #2C2C54;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
  
  .about-page h1 {
    color: #474787; 
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .about-page p {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 3rem;
    color: #2C2C54; /* dark indigo */
  }
  
  .auth-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
   
  }
 
  

  .auth-button{
    background-color: #474787; 
    color: #ECECEC; /* light gray */
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.25s ease;
    text-decoration: none;
    display: inline-block;
  }
  .auth-button:hover {
    background-color: #6C63FF;
  }
  
  
  